@mixin base {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0.5rem;
  margin: 0.5rem;
  border: 1px solid $color-sable;
}

@mixin base-img {
  img {
    width: 100%;
    object-fit: contain;
  }
}

@mixin base-texto {
  h2 {
    font-size: $font-xxl;
    margin-bottom: 0.5rem;
  }

  p {
    font-size: $font-m;
    margin: 0;
  }
}

@mixin base-extra {
  p {
    font-size: $font-l;
    font-weight: bold;
    margin: 0;
  }
}
