$color-white: #fff;
$color-black: #000;
$color-sable: #060606;
$color-charcoal: #2e1503;
$color-tangerine: #ffaf6d;
$color-orange: #ffa500;

$font-base: "Poppins", sans-serif;
$font-base2: "Ubuntu", sans-serif;

$font-xxxxxl: 50px;
$font-xxxxl: 45px;
$font-xxxl: 40px;
$font-xxl: 35px;
$font-xl: 30px;
$font-l: 20px;
$font-m: 16px;
$font-s: 14px;
$font-xs: 12px;
